.navbar {
    justify-content: space-around!important;
}
body {
  display: grid;
  grid-template-rows: 0.5fr auto;
  grid-template-areas: "main" "footer";
  overflow-x: hidden;
  background: #343A40;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  padding-top: 100px;
}
body .footer {
  z-index: 1;
  --footer-background:#34a4e8;
  display: grid;
  position: fixed;
  grid-area: footer;
  min-height: 5rem;
  bottom: 0px;
  left: 0px;
  height: 20px;
  width: 100%;
}

body .footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: var(--footer-background);
  filter: url("#blob");
}
body .footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
}
body .footer .content {
  z-index: 2;
  display: grid;
  grid-template-columns: 2fr auto;
  grid-gap: 4rem;
  background: var(--footer-background);
}
body .footer .content a, body .footer .content {
  color: #F5F7FA;
  text-decoration: none;
}

.was {
  color: white;
}

#left_footer_text {
  color: black;
  padding-left: 40px;
  padding-top: 20px;
  font-size: 1rem;
}

body .footer .content > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

body .footer .content > div .image {
  align-self: center;
  width: 4rem;
  height: 4rem;
  margin: 0.25rem 0;
  background-size: cover;
  background-position: center;
  margin-right: 150%;
}

.main_container {
    margin-top: 5%;
    margin-bottom: 10%;
    margin: auto;
    width: 50%;
    padding: 10px;
}


.main_container_crow {
    margin-top: 5%;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.main_container h1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.secondary_container {
    width: 70%;
    text-align: center;
    height: fit-content;
    font-size: 2rem;
}

.secondary_container_danger {
    width: 70%;
    text-align: center;
    height: fit-content;
    font-size: 1.5rem;
}

.flash_container {
    margin-bottom: auto;
    position: relative;
    z-index: 2;
}

.seq {
  color: white;
  padding-top: 40px;
}

.slct::selection {
  color: white;
  background: red;
}

@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
