<nav class="navbar navbar-dark bg-dark flex-wrap fixed-top">

    <a href="{{ url_for('main.index') }}" class="navbar-brand align-items-start">
        <div class="c-glitch container-lg">
            <img class="c-glitch__img" src="{{ url_for('static', filename='crow.png') }}" alt="">
            <img class="c-glitch__img" src="{{ url_for('static', filename='crow.png') }}" alt="">
            <img class="c-glitch__img" src="{{ url_for('static', filename='crow.png') }}" alt="">
            <img class="c-glitch__img" src="{{ url_for('static', filename='crow.png') }}" alt="">
            <img class="c-glitch__img" src="{{ url_for('static', filename='crow.png') }}" alt="">
        </div>
    </a>

    <a href="{{ url_for('auth.login', stage=0) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows0</strong>
    </a>

    <a href="{{ url_for('auth.login', stage=1) }}" class="navbar-brand">
        <div class="grows">
            <i class="fas fa-crow fa-lg"></i>
            <strong>Crows1</strong>
        </div>
    </a>

    <a href="{{ url_for('auth.login', stage=2) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows2</strong>
    </a>

    <a href="{{ url_for('auth.login', stage=3) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows3</strong>
    </a>

    <a href="{{ url_for('auth.login', stage=4) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows4</strong>
    </a>

    <a href="{{ url_for('auth.login', stage=5) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows5</strong>
    </a>

    <a href="{{ url_for('auth.login', stage=6) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows6</strong>
    </a>

    <a href="{{ url_for('auth.login', stage=7) }}" class="navbar-brand">
        <i class="fas fa-crow fa-lg"> </i>
        <strong>Crows7</strong>
    </a>
</nav>
