{% block title %}401 Unauthorized{% endblock %}
{% include 'navbar.html' %}
	<div class="grid">
	 	<div class="grid__item"></div>
	</div>
	<div id="unauth">
		<div class="unauth">
			<div class="unauth-401">
				<h1>Crows!</h1>
			</div>
			<h2>401 - Unauthorized</h2>
			<p>The request has not been applied because it lacks valid authentication credentials for the target resource.</p>
			<p>NOTE: This is not part of the challenge!</p>
		</div>
	</div>

	<div class="grid">
		<div class="grid__item"></div>
		<div class="grid__item"></div>
		<div class="grid__item"></div>
		<div class="grid__item"></div>
		<div class="grid__item"></div>
	</div>

