{% extends "crows/crows.html" %}
{% block title %}Crows4{% endblock %}
{% block content %}
  {% if not has_access(current_user.username, 4) %}
    <div class="container p-5 my-5 bg-danger text-white text-center">
        <p>You got to the right page, but you must be logged in as <strong>Crows4</strong></p>
    </div>
  {% else %}
      <div class="container text-white secondary_container">
       <p>Crows5</p>
       <p><strong>090744617c48fbb9fa966a34dbd467f1</strong></p>
      </div>
  {% endif %}
{% endblock %}