{% extends "crows/crows.html" %}
{% block title %}Crows5{% endblock %}
{% block content %}
  {% if not has_access(current_user.username, 5) %}
    <div class="container secondary_container_danger bg-danger text-white text-center">
        <p>I see you are a very naughty crow!</p>
        <p>Challenges are sequential - you must be logged in as Crows1 to solve this level.</p>
        <p>Get back to Crows0 and grab the flag.</p>
    </div>
  {% else %}

  <div class="container text-white secondary_container">
        <form class="form" action="/crows5/submit" method="POST">
            <input type="text" name="secret" placeholder=">Secret" value="{{ request.form.secret }}">
            <button type="submit" value="Submit">Submit</button>
        </form>
        <a href="view-source:http://127.0.0.1:5000/crows5?msg=1">View Source</a>
    </div>

    <?php

        $encodedSecret = "3d3d51";

        function encode($secret) {
            return bin2hex(strrev(base64_encode($secret)));
        }

        if(array_key_exists("submit", $_POST)) {
            if (encode($_POST['secret']) == $encodedSecret) {
                print "Access granted. Your secret is...";
            } else {
                print "Wrong secret!";
            }
        }
    ?>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% if "Wrong" in messages[0] %}
            <div class="flash_container">
                <ul class="flashes alert alert-danger text-center h3" id="flash">
                    <i class="fas fa-crow" style="padding-right: 7px;"> </i>
                    <p>{{ messages[0] }}</p>
                </ul>
            </div>
        {% else %}
        <div class="flash_container">
            <ul class="flashes alert alert-success text-center h3" id="flash">
                <i class="fas fa-crow" style="padding-right: 7px;"> </i>
                <p>{{ messages[0] }}</p>
            </ul>
        </div>
        {% endif %}
    {% endif %}
    {% endwith %}

   {% endif %}
{% endblock %}