{% extends "crows/crows.html" %}
{% block title %}Crows3{% endblock %}
{% block content %}
  {% if current_user.username != "Crows3" %}
    <div class="container p-5 my-5 bg-danger text-white text-center">
        <p>I see you are a very naughty crow!</p>
        <p>Challenges are sequential - you must be logged in as Crows3 to solve this level.</p>
        <p>Get back to Crows2 and grab the flag.</p>
    </div>
  {% else %}
      <div class="container p-5 my-5 bg-primary text-white text-center">
        I've hidden the flag so well that even <strong>Google</strong> won't be able to index it.
      </div>
   {% endif %}
{% endblock %}


