{% extends "crows/crows.html" %}
{% block title %}Crows7{% endblock %}
{% block content %}
  {% if not has_access(current_user.username, 7) %}
    <div class="container secondary_container_danger bg-danger text-white text-center">
        <p>I see you are a very naughty crow!</p>
        <p>Challenges are sequential - you must be logged in as Crows7 to solve this level.</p>
        <p>Get back to Crows6 and grab the flag.</p>
    </div>
  {% else %}

    <div class="container text-white secondary_container">
        <form class="form" action="/crows7/submit" method="POST">
            <input class="width50" type="text" name="needle" placeholder=">Needle" value="{{ request.form.needle }}">
            <button class="width50 btn btn-primary" type="submit" value="Submit"><strong>FIND</strong></button>
        </form><br/>
        <a href="{{ url_for('main.crows7viewsource') }}" target="_blank">>View Source<</a>
        <!-- Free Hint: The final flag can be found under /tmp/crows7 on the server. -->
        {% if results %}
        <p class="onerem">Astea sunt rezultatele zic eu:</p>
            {% for result in results %}
            <ul>
                <li>{{ result }}</li>
            </ul>
            {% endfor %}
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash_container">
            <ul class="flashes alert alert-success text-center h3" id="flash">
                <i class="fas fa-crow" style="padding-right: 7px;"> </i>
                <p>{{ messages[0] }}</p>
            </ul>
        </div>
    {% endif %}
    {% endwith %}

   {% endif %}
{% endblock %}