{% extends "crows/crows.html" %}
{% block title %}Crows6{% endblock %}
{% block content %}
  {% if current_user.username != "Crows6" %}
    <div class="container secondary_container_danger bg-danger text-white text-center">
        <p>I see you are a very naughty crow!</p>
        <p>Challenges are sequential - you must be logged in as Crows1 to solve this level.</p>
        <p>Get back to Crows0 and grab the flag.</p>
    </div>
  {% else %}

    <div class="container text-white secondary_container">
        <p>Work in progress, come back soon!</p>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash_container">
            <ul class="flashes alert alert-success text-center h3" id="flash">
                <i class="fas fa-crow" style="padding-right: 7px;"> </i>
                <p>{{ messages[0] }}</p>
            </ul>
        </div>
    {% endif %}
    {% endwith %}

   {% endif %}
{% endblock %}